#menu-posts-project .wp-menu-image {
  background: none;
  background-image: url(../images/projects-icon.png);
  background-position: 7px -132px !important;
  background-repeat: no-repeat;
}
#menu-posts-project.wp-menu-open .wp-menu-image,
#menu-posts-project:hover .wp-menu-image {
  background-position: 7px -164px !important;
}
#icon-edit.icon32-posts-project {
  background: transparent url(../images/projects-icon.png) no-repeat left top;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
  #menu-posts-project .wp-menu-image {
    background-image: url(../images/projects-icon@x2.png);
    background-size: 32px 187px;
  }
  #icon-edit.icon32-posts-project {
    background-image: url(../images/projects-icon@x2.png);
    background-size: 32px 187px;
  }
}
#project-images .inside {
  margin: 0;
  padding: 0;
}
#project-images .inside .add_project_images {
  padding: 0 9px;
}
#project-images .inside #project_images_container {
  padding: 0 0 0 9px;
}
#project-images .inside #project_images_container ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#project-images .inside #project_images_container ul li.image,
#project-images .inside #project_images_container ul li.add,
#project-images .inside #project_images_container ul li.wc-metabox-sortable-placeholder {
  width: 80px;
  height: 80px;
  overflow: hidden;
  float: left;
  cursor: move;
  border: 1px solid #d5d5d5;
  margin: 9px 9px 0 0;
  background: #f7f7f7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
#project-images .inside #project_images_container ul li.image img,
#project-images .inside #project_images_container ul li.add img,
#project-images .inside #project_images_container ul li.wc-metabox-sortable-placeholder img {
  width: 100%;
  height: auto;
  display: block;
}
#project-images .inside #project_images_container ul li.wc-metabox-sortable-placeholder {
  border: 4px dashed #dddddd;
  background: #f7f7f7 url(../images/image_watermark.png) no-repeat center;
}
#project-images .inside #project_images_container ul ul.actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  display: none;
}
#project-images .inside #project_images_container ul ul.actions li {
  background: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 1px;
  float: right;
  margin: 0 0 0 2px;
}
#project-images .inside #project_images_container ul ul.actions li a {
  width: 10px;
  padding: 10px 0 0 0;
  margin: 0;
  height: 0;
  display: block;
  overflow: hidden;
}
#project-images .inside #project_images_container ul ul.actions li a.view {
  background: url(../images/icons/image_10.png) no-repeat top left;
}
#project-images .inside #project_images_container ul ul.actions li a.delete {
  background: url(../images/icons/delete_10.png) no-repeat top left;
}
#project-images .inside #project_images_container ul li:hover ul.actions {
  display: block;
}
