// Imports
@import url(mixins.less);

// Admin icons
#menu-posts-project {
	.wp-menu-image {
		background: none;
		background-image: url(../images/projects-icon.png);
		background-position: 7px -132px !important;
		background-repeat: no-repeat;
	}
}

#menu-posts-project.wp-menu-open, #menu-posts-project:hover {
	.wp-menu-image {
		background-position: 7px -164px !important;
	}
}

#icon-edit.icon32-posts-project {
	background: transparent url(../images/projects-icon.png) no-repeat left top;
}

// Retina
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
{
	#menu-posts-project {
		.wp-menu-image {
			background-image: url(../images/projects-icon@x2.png);
			background-size: 32px 187px;
		}
	}
	#icon-edit.icon32-posts-project {
		background-image: url(../images/projects-icon@x2.png);
		background-size: 32px 187px;
	}
}

// Project Gallery
#project-images {
	.inside {
		margin: 0;
		padding: 0;
		.add_project_images {
			padding: 0 9px;
		}
		#project_images_container {
			padding: 0 0 0 9px;
			ul {
				margin: 0;
				padding: 0;
				.clearfix;
				li.image, li.add, li.woothemes-projects-metabox-sortable-placeholder {
					width: 80px;
					float: left;
					cursor: move;
					margin: 9px 9px 0 0;
					background: #f7f7f7;
					.border_radius(2px);
					position: relative;
					background: #fff;
					.border_radius(2px);
					-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
					-moz-box-sizing: border-box;    /* Firefox, other Gecko */
					box-sizing: border-box;         /* Opera/IE 8+ */
					img {
						width: 100%;
						height: auto;
						display: block;
						.transition;
						.border_radius(2px);
					}
					&:hover {
						img {
							.opacity(0.75);
						}
					}
				}
				li.woothemes-projects-metabox-sortable-placeholder {
					border: 4px dashed #dddddd;
					background: #f7f7f7;
				}
				ul.actions {
					position: absolute;
					top:4px;
					right: 4px;
					.transition;
					.opacity(0);
					li {
						-webkit-border-radius: 100%;
						border-radius: 100%;
						float: right;
						margin: 0 0 0 2px;
						a {
							width: 20px;
							margin: 0;
							height: 20px;
							font-size: 16px;
							display: block;
							overflow: hidden;
							color: #fff;
							background:#000;
							font-weight: 300;
							line-height: 20px;
							text-align: center;
							.border_radius(2px);
							text-decoration: none;
							.transition;
							&.delete {
								background: @error;
								&:hover {
									background: #fff;
									color: @error;
								}
							}
						}
					}
				}
				li:hover ul.actions {
					.opacity(1);
				}
			}
		}
	}
}