// Imports
@import url(mixins.less);

/**
 * Layout Styles
 */
.projects,
.projects-page {
	ul.projects {
		list-style: none;
		margin: 0;
		margin-left: 0 !important;
		padding: 0 !important;
		*zoom: 1;

		&:before, &:after {
			content: " ";
    		display: table;
		}

		&:after {
			clear: both;
		}

		li.project {
			margin: 0 0 1.618em;
			padding: 0;
			width: 48%;
			float: left;
			margin-right: 3.8%;

			.project-thumbnail {
				margin: 0 0 1em;
			}

			a {
				text-decoration: none;
			}

			h3 {
				margin-bottom: .618em;
			}

			img {
				width: 100%;
				height: auto;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				.border_radius(0);
				padding: 0;
				border: 0;
				margin: 0;
			}

			&.first {
				clear: both;
			}

			&.last {
				margin-right: 0;
			}
		}
	}

	ul.project-categories {
		margin-left: 0 !important;
		padding: 0 !important;
		.clearfix;
		list-style: none;

		li {
			display: inline-block;
			margin-right: .5em;
			list-style: none;
			margin-left: 0 !important;

			&:after {
				content: "|";
				display: inline-block;
				padding-left: .5em;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
	.projects-pagination {
		text-align: center;

		li {
			display: inline-block;
			margin:0 .236em;
		}
	}
}

.single-project {
	.project {
		.clearfix;
		margin-bottom: 1.618em;

		.images {
			width: 60%;
			float: left;
			a {
				display: block;
			}

			img {
				.border_radius(0);
				max-width: 100%;
				height: auto;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				display: block;
			}
		}

		.summary {
			width: 40%;
			padding: 0 0 0 2.618em;
			float: right;
			.borderbox;

			> div {
				font-size: .857em;
			}

			.categories {
				&:before {
					font-family: 'dashicons';
					vertical-align: top;
					content: "\f318";
					margin-right: .618em;
				}
			}
		}
	}
	.projects-single-pagination {
		.clearfix;

		.previous,
		.next {
			&:before,
			&:after {
				vertical-align: top;
				font-family: 'dashicons';
			}
		}

		.previous {
			float: right;

			&:after {
				content: "\f344";
			}
		}

		.next {
			float: left;

			&:before {
				content: "\f340";
			}
		}
	}
}

/**
 * Widgets
 */
.projects_list_widget {
	li {
		margin-bottom: 1.618em;

		a {
			display: block;
			.clearfix;
		}

		img {
			float: right;
			max-width: 60px;
			height: auto;
		}

		.project-title {
			float: left;
		}
	}
}

.widget_projects_categories {
	ul.children {
		margin-left: 2.618em;
		list-style-type: disc;
	}
}