@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
    -ms-transform: rotate(180deg);
    /* IE9 */
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
/**
 * Layout Styles
 */
.woothemes-projects ul.projects,
.woothemes-projects-page ul.projects {
  list-style: none;
  margin: 0;
  margin-left: 0 !important;
  padding: 0 !important;
  *zoom: 1;
}
.woothemes-projects ul.projects:before,
.woothemes-projects-page ul.projects:before,
.woothemes-projects ul.projects:after,
.woothemes-projects-page ul.projects:after {
  content: " ";
  display: table;
}
.woothemes-projects ul.projects:after,
.woothemes-projects-page ul.projects:after {
  clear: both;
}
.woothemes-projects ul.projects li.project,
.woothemes-projects-page ul.projects li.project {
  margin: 0 0 1.618em;
  padding: 0;
  width: 48%;
  float: left;
  margin-right: 3.8%;
}
.woothemes-projects ul.projects li.project .project-thumbnail,
.woothemes-projects-page ul.projects li.project .project-thumbnail {
  margin: 0 0 1em;
}
.woothemes-projects ul.projects li.project a,
.woothemes-projects-page ul.projects li.project a {
  text-decoration: none;
}
.woothemes-projects ul.projects li.project h3,
.woothemes-projects-page ul.projects li.project h3 {
  margin-bottom: .618em;
}
.woothemes-projects ul.projects li.project img,
.woothemes-projects-page ul.projects li.project img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  border: 0;
  margin: 0;
}
.woothemes-projects ul.projects li.project.first,
.woothemes-projects-page ul.projects li.project.first {
  clear: both;
}
.woothemes-projects ul.projects li.project.last,
.woothemes-projects-page ul.projects li.project.last {
  margin-right: 0;
}
.woothemes-projects ul.project-categories,
.woothemes-projects-page ul.project-categories {
  margin-left: 0 !important;
  padding: 0 !important;
  list-style: none;
}
.woothemes-projects ul.project-categories:after,
.woothemes-projects-page ul.project-categories:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.woothemes-projects ul.project-categories li,
.woothemes-projects-page ul.project-categories li {
  display: inline-block;
  margin-right: .5em;
  list-style: none;
  margin-left: 0 !important;
}
.woothemes-projects ul.project-categories li:after,
.woothemes-projects-page ul.project-categories li:after {
  content: "|";
  display: inline-block;
  padding-left: .5em;
}
.woothemes-projects ul.project-categories li:last-child:after,
.woothemes-projects-page ul.project-categories li:last-child:after {
  display: none;
}
.single-project .project:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.single-project .project .images {
  width: 60%;
  float: left;
}
.single-project .project .images a {
  display: block;
}
.single-project .project .images img {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
}
.single-project .project .summary {
  width: 40%;
  padding: 0 0 0 2.618em;
  float: right;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.single-project .project .summary > div {
  font-size: .857em;
}
/**
 * Widgets
 */
.projects_list_widget li {
  margin-bottom: 1.618em;
}
.projects_list_widget li a {
  display: block;
}
.projects_list_widget li a:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.projects_list_widget li img {
  float: right;
  max-width: 60px;
  height: auto;
}
.projects_list_widget li .project-title {
  float: left;
}
.widget_woothemes_projects_categories ul.children {
  margin-left: 2.618em;
  list-style-type: disc;
}
