@import url(mixins.less);

// Gloss styles
.woothemes-projects, .woothemes-projects-page {
	ul.projects {
		li.project {
			position: relative;
			img {
				-webkit-transform:translateZ(0);
				.transition;
				&:after {
					content: "hello";
				}
			}
			.project-thumbnail {
				display: block;
				position: relative;
				&:before {
					content: "\254b";
					display: block;
					position: absolute;
					top:50%;
					left:50%;
					.opacity(0);
					.transition;
					height:2em;
					width:2em;
					margin-top:-1em;
					margin-left:-1em;
					font-size:2em;
					line-height: 2;
					text-align: center;
					color: #000;
				}
			}
			.project-permalink {
				&:hover {
					img {
						.opacity(0.2);
					}
					.project-thumbnail {
						&:before {
							.opacity(1);
						}
					}
				}
			}
		}
	}
}