@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
    -ms-transform: rotate(180deg);
    /* IE9 */
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
